i.logo {
    color: goldenrod;
}

i#main-logo {
    font-size: 8em;
}

i#navbar-logo {
    font-size: 2em;
    padding-right: 1em;
}

nav#navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
}

i.icon {
    padding-right: 1em;
}

form > h2.form-section-header {
    padding-bottom: 1em;
    padding-top: 1em;
}

form > button#submitForm {
    margin-top: 1em;
    margin-bottom: 1em;
}

h1, h2, h3, p, label {
    font-family: 'Odibee Sans', cursive;
}

img.service-img {
    margin: 1em;
}

footer#my-footer {
    margin: 0;
}
